<%- include('includes/header.ejs') %>
<body>
  <form class="user-form" action="/add-user" method="POST">
    <label for="username">Add User</label>
    <input type="text" name="username" />
    <button class="btn" type="submit">Submit now</button>
  </form>

</body>
</html>
